body {
  font-family: Helvetica;
  text-align: center;
}

.header, .mid-banner {
  background-image: url(./the-flatiron-building.png);
  }

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.navigation {
    font-size: 18px;
    color: white;
  }

.content h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.content p {
  font-size: 14px;
}

.mid-banner h3 {
  color: white;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
